.heg{
    height: 121px;
}

.pt-cust{
    padding-top: 2rem !important;
}

.w-cust{
    width: 15%;
}

.t-sh{
    text-shadow: 1px 0 1px #000, 
                0 1px 1px #000, 
                -1px 0 1px #000, 
                0 -1px 1px #000;
}

.stm_ico_countdown__payment--without-bg{
    display: block;
    padding: 1px 1px;
    align-self: center;
}

.border-cust{
    border: 1px solid #333333;
    border-radius: 3px;
}

.text-nsuccess{
    color: #8BC636;
}

.border-nsuccess{
    border: 2px solid #8BC636;
}

.fw-200{
    font-weight: 200;
}

.fs-tag{
    font-size: 9px;
}

.fm{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    /* or 47% */

    text-align: center;

    color: rgba(15, 119, 254, 0.75);
}

.fm-italic{
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    font-size: 18px;
    line-height: 34px;
    /* or 106% */

    text-transform: uppercase;

    color: #FFFFFF;
}

w-45{
    width: 45% !important;
}
