@media screen and (max-width: 1220px) {
	.event-bonus-calc {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.event-bonus {
		margin-right: 0px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.event-bonus > .item {
		margin-right: 0px;
		margin-bottom: 20px;
	}
	.event-bonus > .item:last-child {
		margin-bottom: 0px;
	}

	.calc {
		margin-top: 20px;
		max-width: 100%;
	}

	.list-qui-value {
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
	}
	.list-qui-value > .item {
		margin-right: 10px;
	}
	.list-qui-value > .item:last-child {
		margin-right: 0px;
	}
}
@media screen and (max-width: 1024px) {
	.responsive-pay {
		padding: 20px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.pay-adress {
		max-width: 100%;
		margin-bottom: 20px;
	}

	.list-add-items {
		-ms-grid-columns: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
	}

	.pay-operation {
		overflow: hidden;
	}

	.live {
		position: unset;
		margin-bottom: 20px;
	}

	.title-live {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}

	.responsive-table {
		margin-top: 0px;
	}

	.data-coin-give {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.data-coin-give > .item {
		margin-bottom: 20px;
	}
	.data-coin-give > .item:last-child {
		margin-bottom: 0px;
	}

	.responsive-welcome {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.about-giveaway {
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		text-align: center;
		margin-bottom: 40px;
	}

	.action-button {
		display: none;
	}
}
@media screen and (max-width: 768px) {
	.loader-wait {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}

	.bg-s-ndark{
		background: #2D2D2D;
		color: #ffffff;
	}

	.responsive-pay {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: column-reverse;
		        flex-direction: column-reverse;
	}

	.qr-adress > p {
		display: none;
	}

	.pay-adress > h1 {
		display: none;
	}

	.qr-button {
		display: none;
	}

	.responsive-adress-input-copy {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.responsive-adress-input-copy::before {
		content: none;
	}
	.responsive-adress-input-copy > .copy-adress {
		position: unset;
		padding: 0px 20px;
		background: #0052FF;
		color: #ffffff;
		border-radius: 2px;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
		background-image: none;
	}
	.responsive-adress-input-copy > .copy-adress > p {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.responsive-adress-input-copy > .adress-val-copy {
		padding: 0px;
		background: none;
		border: none;
	}

	.title-adress {
		margin-top: 10px;
	}
	.title-adress > p {
		font-size: 20px;
		text-align: center;
	}

	.loader-wait > p {
		font-size: 16px;
	}

	.pay-adress {
		margin-bottom: 0px;
	}

	.complete-status {
		display: none;
	}

	.navigation {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.list-add-items {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	}

	.adress-val-copy > p {
		max-width: 460px;
		width: 100%;
		overflow: hidden;
		-o-text-overflow: ellipsis;
		   text-overflow: ellipsis;
	}

	.title-adress {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.title-adress > span {
		margin-left: 0px;
		margin-top: 10px;
	}

	.data-coin-give > .item {
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.data-coin-give > .item > p {
		margin-left: 0px;
		margin-top: 10px;
	}

	.adress-p > p {
		max-width: 250px;
		width: 100%;
		overflow: hidden;
		-o-text-overflow: ellipsis;
		   text-overflow: ellipsis;
	}

	.title-live {
		width: 100%;
		padding: 20px;
	}

	.navigation > ul {
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		width: 100%;
		margin-top: 10px;
	}
	.navigation > ul > li {
		margin-right: 0px;
	}
}
