@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');


body{
    font-family: 'Montserrat', sans-serif !important;
}
body.menu-active{
    overflow: hidden;
}

.text-gray{
    color: #444444 !important;
}

/*
* Headers
*/

h1{
    font-weight: 800 !important;
}
h2, h4, h6{
    font-weight: 700 !important;
}

/*
* Buttons
*/

button{
    background: none;
    border: none;
}
.bs-plan{
    height: 80px;

    background: #F7F4EF;
    box-shadow: 0px 10px 50px rgba(208, 146, 96, 0.3);
    border-radius: 10px;

    font-weight: 700;
    font-size: 12px;
    line-height: 21px;

    text-align: center;
    letter-spacing: 0.05em;

    transition: all 0.2s;
}
.bs-plan:hover{
    transform: scale(1.05);
}
.bs-plan--dark{
    color: #FFFFFF;
    background-color: #444444;
}
.bs-plan--pink {
    position: relative;
    width: 60%;
    box-shadow: none;
    background: none;
    z-index: 3;
}
.bs-plan--pink::before{
    content: '';
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    z-index: -2;
    background-image: linear-gradient(90deg, #F363E2 0%, #9841F9 100%);
    filter: blur(5px);

    border-radius: 10px;
}
.bs-plan--pink::after{
    content: '';
    position: absolute; 
    left: 5px; right: 5px; top: 5px; bottom: 5px;
    z-index: -1;
    background-color: #FFFFFF;

    border-radius: 10px;
}

/*
* Header block
*/

.header-block{
    height: 600px;
    background-image: url(../img/header-back.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.wt{
    margin-bottom: 3px;
    margin-left: 2px;
}
.header{
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.active-els img{
    width: 17px;
    height: 15px;
}
.heading .menu .menu__btn{
    width: 30px;
	height: 30px;
	position: relative;
	z-index: 12;
	overflow: hidden;
}
.heading .menu .menu__btn span:nth-of-type(2) {
	top: calc(50% - 5px);
}
.heading .menu .menu__btn span:nth-of-type(3) {
	top: calc(50% + 5px);
}
.heading .menu .menu__btn span {
	width: 30px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #FFFFFF;
	transition: all 0.5s;
}
.heading .menu .menu__mobile{
    position: fixed;
    z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 15px;
    background: #444444;
	transform: translateX(-100%);
}
.heading .menu .menu__mobile.active {
	transform: translateX(0);
}
.heading .menu .menu__btn.active span:nth-of-type(1) {
    display: none;
}
.heading .menu .menu__btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);  
}
.heading .menu .menu__btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg); 
}
.heading .menu .menu__mobile ul{
    margin-top: 50px;
}
.heading .menu .menu__mobile li {
	list-style-type: none;
    font-size: 26px;
}
.heading .menu .menu__mobile li:last-child {
    font-size: 32px;
    font-weight: 600;
}
.heading .menu .menu__mobile li a{
    text-decoration: none;
    color: #F7F4EF;
}
.heading .menu .menu__mobile li a img{
    width: 30px;
}
.heading .menu .menu__mobile li a p{
    margin-left: 30px;
    font-size: 26px;
}

@media (max-width: 767px){
    .header-block{
        height: 480px;
    }
    .heading .menu{
        width: 100%;
        margin-bottom: 20px;
    }
    .header-block .container:last-child{
        width: 100% !important;
    }
    .active-els a{
        border: none !important;
        color: #FFFFFF;
        text-decoration: none;
    }
    .header-block div:last-child button{
        height: 60px;
        width: 90% !important;
        margin: auto;
    }
    .header-block h1{
        font-size: 26px !important;
    }
    .header-block p{
        font-size: 15px;
    }
    .header-block h1 br, .header-block p br{
        display: none;
    }
}

/*
* For-what block
*/

.for-what{
    background-image: url(../img/for-what-bg.webp);
    padding: 3rem !important;
    padding-bottom: 15rem !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.for-what__list{
    list-style: none;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
}
.for-what__list li{
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
    border-left: 2px solid #444444;
    width: 75%;
    height: 45%;
}
.for-what__list li img{
    position: relative;
    right: 17px;
}
.for-what__list li p{
    margin-left: 15px;
}
.for-what__list:last-child li:last-child{
    margin-top: -25px;
}

@media (max-width: 767px){
    .for-what .container p{
        margin: 30px 0;
        text-align: left !important;
    }
    .for-what__list{
        font-size: 14px;
        padding: 0;
    }
    .for-what__list li{
        width: 100%;
        height: 115px;
        margin: 0;
    }
    .for-what__list:first-child li:last-child{
        border-left: 2px solid #444444 !important;
    }
    .for-what__list:last-child li:last-child{
        width: 100% !important;
    }
    .for-what__list:last-child li:last-child button{
        width: 100% !important;
    }
    .for-what{
        padding: 2rem !important;
        padding-bottom: 2rem !important;
    }
}

/*
* Why block
*/

.why{
    background: #F0F0F0;
}

.why__block {
    background: #F0F0F0;
    box-shadow: 0px 10px 30px rgb(51 51 51 / 10%);
    border-radius: 10px;
    flex: 0 0 40%;
    margin-top: 50px;
    margin-left: 112px;
}
.why__block:before{
    content: '12';
    position: relative;
    width: 50px;
    height: 50px;
    right: 110px;
    top: 50px;
    color: transparent;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    padding: 40px;
    background-color: #FFFFFF;
}
.why__block:first-child::before{
    background-image: url(../img/model.svg);
    box-shadow: 0px 10px 50px rgb(105 0 198 / 40%);
}
.why__block:nth-child(2)::before{
    background-image: url(../img/process.svg);
    box-shadow: 0px 10px 50px rgba(60, 59, 225, 0.4);
}
.why__block:nth-child(3)::before{
    background-image: url(../img/marketing.svg);
    box-shadow: 0px 10px 50px rgba(60, 59, 225, 0.4);
    top: 115px;

}
.why__block:last-child::before{
    background-image: url(../img/info.svg);
    box-shadow: 0px 10px 50px rgba(199, 68, 180, 0.4);
    top: 115px;
}
.why__result{
    padding: 20px;
    margin-right: 30px;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
    border-radius: 10px;
}

@media (max-width: 767px){
    .why__block{
        flex: 0 0 90%;
        margin: 55px auto;
    }
    .why__block:before{
        right: 60px;
        top: -25px !important;
        padding: 25px;
        background-size: 30px;
    }
    .why__block:first-child::before{
        box-shadow: 0px 10px 50px rgb(105 0 198 / 70%);
    }
    .why__block:nth-child(2)::before{
        box-shadow: 0px 10px 50px rgba(60, 59, 225, 0.7);
    }
    .why__block:nth-child(3)::before{
        box-shadow: 0px 10px 50px rgba(60, 59, 225, 0.7);
    
    }
    .why__block:last-child::before{
        box-shadow: 0px 10px 50px rgba(199, 68, 180, 0.7);
    }
    .why .container div:last-child{
        flex-wrap: wrap;
    }
    .why .container div:last-child .why__result{
        flex: 0 0 90%;
        margin: 10px auto;
    }
    .why .container div:last-child .why__result p{
        margin: 0;
        font-size: 16px;
    }
}

/*
* About block
*/

.about{
    padding: 40px 0;
}
.about__container .swiper{
    margin-right: 0;
}
.about__container .swiper-slide{
    width: 100%;
    align-self: flex-end;
}
.about__container .swiper-slide img{
    width: 100%;
    margin-bottom: 90px;
}
.about__container div{
    width: 45%;
}
.about__container h6{
    font-size: 25px;
    margin: 30px 0;
}
.about__container:nth-child(2) div ul{
    list-style: none;
    padding: 0;
}

@media (max-width: 767px){
    .about__container div, .about__container picture{
        width: 90%;
        align-self: center;
    }
    .about__container .swiper{
        margin-right: auto;
    }
    .about__container div h2{
        font-size: 20px;
    
    }
    .about__container:first-child div h2{
        font-size: 30px;
        margin-bottom: 30px;
    }
    .about__container:first-child div h6{
        font-size: 20px;
        margin-bottom: 30px;
    }
    .about__container:last-child div h2{
        font-size: 30px;
        margin-bottom: 25px;
    }
    .about__container div ul{
        text-align: left;
    }
    .about__container:nth-child(2) div ul li p{
        font-size: 10px;
    }
    .about__container:nth-child(2){
        padding: 50px 0;
    }
    .about__container:last-child button{
        width: 100% !important;
        margin-bottom: -5px;
    }
    .about__container .swiper-slide img{
        margin-bottom: 30px;
    }
}

/*
* Benefits block
*/

.benefits{
    padding: 40px 0;
    background-image: url(../img/benefits.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.benefits ul{
    list-style: none;
    margin-top: 30px;
}
.benefits ul li{
    width: 45%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
    margin-left: 40px;
    border: 1px solid #444444;
    border-radius: 10px;
}
.benefits ul li picture{
    position: relative;
    bottom: 75px;
}
.benefits ul li:first-child picture,
.benefits ul li:last-child picture{
    bottom: 85px;
}
.benefits ul li picture::before{
    content: "";
    display: block;
    position: relative;
    z-index: 1;
    top: 24px;
    right: 50px;
    height: 1px;
    width: 50px;
    color: transparent;
    background: #ebebeb;
}
.benefits ul li:first-child picture::before,
.benefits ul li:last-child picture::before{
    top: 22px;
}
.benefits ul li picture::after{
    content: "";
    display: block;
    position: relative;
    z-index: 1;
    top: -27px;
    left: 50px;
    height: 1px;
    width: 50px;
    color: transparent;
    background: #ebebeb;
}
.benefits ul li:first-child picture::after,
.benefits ul li:last-child picture::after{
    top: -29px;
}
.benefits ul li picture img{
    width: 50px;
    position: inherit;
    z-index: 999;
}
.benefits ul li p{
    text-align: center;
    margin-top: -25px;
    color: #444444;
}

@media (max-width: 767px){
    .benefits{
        background: #e4e0de;
    }
    .benefits h2{
        color: #444444;
    }
    .benefits ul{
        padding: 0;
    }
    .benefits ul li{
        width: 100%;
        margin: 0;
        margin-top: 70px;
        padding: 20px;
    }
    .benefits ul li picture{
        bottom: 45px !important;
    }
    .benefits ul li picture::after,
    .benefits ul li picture::before{
        display: none;
    }
}

/*
* Receiving block
*/
.receiving{
    padding: 50px 0;
}
.receiving h2{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
.receiving__list{
    display: flex;
}
.receiving__list ul{
    list-style: none;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
}
.receiving__list li{
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
    width: 40%;
    margin-left: 5%;
}
.receiving__list li img{
    position: relative;
    right: 17px;
}

@media (max-width: 767px){
    .receiving h2 {
        width: 95%;
        margin: 0 auto;
    }
    .receiving__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .receiving__list ul{
        padding: 0;
        width: 90%;
        margin: 30px 0;
    }
    .receiving__list li{
        margin: 30px auto;
        width: 90%;
    }
    .receiving__list .r{
        width: 90%;
    }
}

/*
* Roadmap block
*/

.roadmap{
    background-color: #F0F0F0;
    position: relative;
}
.roadmap h2{
    margin-left: 20%;
}
.roadmap ul{
    list-style: disc;
}
.roadmap ul li::marker{
    font-weight: 400 !important;
}
.roadmap .swiper {
    width: 100%;
    height: 100%;
  }

.roadmap .swiper-slide{
    text-align: center;
    font-size: 18px;
    background-color: #F0F0F0;

    width: 60% !important;
    padding-top: 40px;

    opacity: 0.15;
}
.roadmap .swiper-slide-active{
    opacity: 1;
}

.roadmap .swiper-slide__content{
    background: #FAFAFA;
    border: 2px solid #444444;
    border-radius: 10px;
}
.roadmap .swiper-slide-active .swiper-slide__content{
    border: none;
}
.roadmap .swiper-slide__content .stage{
    bottom: 15px;
}
.roadmap .swiper-slide__content .stage h3{
    padding: 12px;
    background: #444444;
    box-shadow: 0px 0px 20px rgb(127 49 139 / 80%);
    border-radius: 10px;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 0.05em;
}
.roadmap .swiper-slide__content ol li{
    font-size: 12px;
    margin-top: 20px;
    text-align: left;
}
.roadmap .swiper-slide__content ol li::marker{
    font-weight: 900;
}
.roadmap .swiper-slide__content img{
    width: 45%;
}
.roadmap .swiper-slide__content img:last-child{
    width: 60% !important;
}
.roadmap .swiper-slide__content div:last-child{
    width: 40% !important;
}
.roadmap .swiper-slide__content ul{
    margin-top: 20px;
}
.roadmap .swiper-slide__content ul li {
    margin-top: 0;
}
.roadmap .swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 21% !important;
    top: 15px !important;

    background-image: url(../img/slider/next.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.roadmap .swiper-button-next::after{
    content: "" !important;
}
.roadmap .swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 74% !important;
    top: 15px !important;
    
    background-image: url(../img/slider/prev.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.roadmap .swiper-button-prev::after{
    content: "" !important;
}
@media (max-width: 767px){
    .roadmap{
        padding: 20px !important;
    }
    .roadmap h2{
        width: 90% !important;
        margin: auto;
        text-align: center;

    }
    .roadmap .swiper-slide{
        width: 100% !important;
    }
    .roadmap .swiper-slide__content img:last-child {
        width: 90% !important;
        margin: auto;
        padding: 0 !important;
        padding-bottom: 10px !important;
    }
    .roadmap .swiper-slide__content{
        padding: 0 !important;
        flex-direction: column;
    }
    .roadmap .swiper-slide__content div{
        width: 100% !important;
    }
    .roadmap .swiper-button-next, .swiper-rtl .swiper-button-prev{
        right: 0 !important;
    }
    .roadmap .swiper-slide__content .stage h3{
        width: 75%;
        left: 13%;
        font-size: 19px;
    }
}

/*
* Tariffs block
*/

.tariffs{
    background-image: url(../img/rec-bg.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #444444;
}

.tariffs__options{
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: baseline;
}
.tariffs__options .option{
    width: 25%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: #E0E0E0;
    border-radius: 10px;
}
.tariffs .bs-plan--dark{
    height: 60px !important;
}
.tariffs__options .option .option__price p:last-child{
    font-size: 12px;
}
.tariffs__options .option__list{
    list-style: none;
    padding: 0;
    margin-bottom: 132px;
}

@media (max-width: 767px){
    .tariffs{
        background: #f9f8f8;
        z-index: 999;
        position: relative;
        top: -30px;
    }
    .tariffs__options{
        flex-direction: column;
    }
    .tariffs__options .option{
        width: 90%;
        margin: 50px auto;
        padding: 30px;
    }
    .tariffs__options .option h4{
        font-size: 25px;
    }
    .tariffs__options .option .option__list{
        margin-bottom: 50px;
    }
}

/*
* Community block
*/

.community{
    padding-bottom: 90px;
}
.community__container div{
    width: 45%;
}
.community__container:first-child div{
    width: 35%;
}
.community__container:first-child picture{
    width: 50%;
}


@media (max-width: 767px){
    .community__container:first-child div{
        width: auto;
    }
    .community__container:first-child picture{
        width: auto;
    }
    .community__container div{
        width: 90%;
        margin: 50px auto;
    }
    .community__container h2{
        margin-bottom: 30px;
    }
}

/*
* Founders block
*/

.founders{
    padding: 100px 0;
    background-image: url(../img/founders.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;   
}
.founders ul{
    list-style: none;
    padding: 0;
    width: 50%;
}
.founders h2{
    margin-bottom: 5S0px;
}
.founders ul li{
    margin-top: 20px;
}

@media (max-width: 767px){
    .founders{
        background-size: 630px;
        background-position: bottom;
        background-color: #745f46bf;
        padding-top: 20px;
        padding-bottom: 190px;
    }
    .founders h2{
        width: 90%;
        margin: 30px auto;
    }
    .founders ul{
        width: 90%;
        margin: 30px auto;
    }
}

/*
* Support block
*/

.support{
    background-image: url(../img/support.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;   
}
.support ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.support ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}
.support ul li p{
    width: 66%;
}

@media (max-width: 767px){
    .support{
        background-size: cover;
    }
    .support div{
        width: 90%;
    }
}
/*
* Feedback block 
*/

.feedback{
    background-color: #555555;
}
.feedback form input{
    width: 48%;
    background-color: #F0F0F0;
}
.feedback form input::placeholder{
    color: #ABABAB;
}

@media (max-width: 767px){
    .feedback .container p{
        font-size: 13px;
    }
    .feedback br{
       display: none;  
    }
    .feedback p:last-child{
        width: 100% !important;
    }
}

/*
* Footer
*/

footer p, footer a{
    font-size: 12px;
}
@media (max-width: 767px){
    footer div{
        width: 90% !important;
    }
    footer .border-end{
        border: none !important;
    }
    footer .container div:nth-child(2){
        margin: 30px 0;
    }
    footer .active-els a{
        color: #444444
    }
}
