ul{
	list-style: none;
}

.b-marquee {
	font-family: 'Segoe UI', sans-serif;
	white-space: nowrap;
	overflow: hidden;
	padding-top: 10px;
	position: relative;
  }
  
  .b-marquee__text {
	-webkit-animation: animMarquee 30s linear infinite;
	animation: animMarquee 30s linear infinite;
  }
  
  @-webkit-keyframes animMarquee {
	0% {
	  -webkit-transform: translateX(0);
	  transform: translateX(0);
	}
	100% {
	  -webkit-transform: translateX(100%);
	  transform: translateX(100%);
	}
  }
  
  @keyframes animMarquee {
	0% {
	  -webkit-transform: translateX(0);
	  transform: translateX(0);
	}
	100% {
	  -webkit-transform: translateX(100%);
	  transform: translateX(100%);
	}
  }
  
  
  /* text right to left*/
  
  .b-marquee--rtl {}
  
  .b-marquee--rtl .b-marquee__text {
	-webkit-animation: animMarqueeRtl 30s linear infinite;
	animation: animMarqueeRtl 30s linear infinite;
  }
  
  @-webkit-keyframes animMarqueeRtl {
	0% {
	  -webkit-transform: translateX(100%);
	  transform: translateX(100%);
	}
	100% {
	  -webkit-transform: translateX(-100%);
	  transform: translateX(-100%);
	}
  }
  
  @keyframes animMarqueeRtl {
	0% {
	  -webkit-transform: translateX(100%);
	  transform: translateX(100%);
	}
	100% {
	  -webkit-transform: translateX(-100%);
	  transform: translateX(-100%);
	}
  }