body{
    background-color: #17181A;
}
div{
    width: 50vw;
    height: 50vw;
    background: 0 0;
    position: absolute;
    border-radius: 999em;
    z-index: 0;
    border: 4px solid #19D3D97D;
    left: -10vw;
    top: -10vw;
    opacity: .2;
    animation: 4s ease-in-out 2s infinite alternate both running circlePulse;
}

@keyframes circlePulse{
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}