@import url('http://fonts.cdnfonts.com/css/montserrat');
@import url('http://fonts.cdnfonts.com/css/gilroy-bold');
@import './animations.css';


/*
* Based settings
*/

body{
    background-color: #17181A;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}

/*
* Background
*/

.bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.bg__circle{
    position: absolute;
    width: 50vw;
    height: 50vw;

    opacity: .5;
    border-radius: 999em;
    border: 4px solid #19D3D97D;
    z-index: 0;
}
.bg::before{
    content: "";
    position: absolute;
    left: -38vw;
    top: 10vw;
    z-index: 1;
    width: 85vw;
    height: 20vw;
    background: #17181A;
    box-shadow: 0 0 20px 20px #17181a;
    overflow: visible;
    transform: rotate(-30deg);
}
.circle--top{
    left: -10vw;
    top: -10vw;
}
.circle--inner-top{
    width: 50vw;
    height: 50vw;
    left: -10vw;
    top: -10vw;
    transform-origin: center center;
}
.circle--bottom{
    left: auto;
    top: auto;
    bottom: -10vw;
    right: -10vw;
    animation-delay: 1.4s;
}

/*
* Buttons
*/
.btn{
    padding: 15px 20px;

    color: #19D3D9;
    font-family: 'Gilroy', sans-serif;
    font-size: 1em;
    font-weight: 800;
    text-align: center;

    border: 3px solid #19D3D9;
    border-radius: 12px;
}
.btn--bg{
    color: #0D131F;
    background: #19D3D9;
    border-color: transparent;
    border-radius: 12px;
}

/*
* Header
*/
.header{
    position: relative;
    z-index: 3;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 90px;
    padding: 0 60px;

    background: linear-gradient(90deg, #17181A 0.55%, #1B1C1F 100%);
}
.header .header__logo{
    width: 12%;

    font-size: 0.8em;
    font-weight: 700;

    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menu{
    width: 50%;
     
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu .menu__burger{
    display: none;
}
.menu .menu__list{
    width: 100%;

    list-style: none;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}
.menu .menu__list .list__item{
    font-size: 0.8em;
    font-weight: 200;
}
.menu .menu__btns{
    width: 100%;
    margin-left: 5%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu .menu__btns .btn{
    width: 40%;

    font-size: 0.7em;
    font-weight: 800;

    padding: 10px 10px;
    text-align: center ;
}


/*
* Hello block
*/
.hello_block{
    position: relative;
    min-height: 90vh;
    margin-top: -10rem;
    padding-top: 10vh;
    padding-bottom: 50vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #FFFFFF;

    overflow: hidden;
    z-index: 2;
}
.hello_block h1{
    padding: 0 4rem;
    text-align: center;
    width: 90%;
    max-width: 58rem;
    margin: 0 auto;
    margin-top: 10rem;
    font-size: 5rem;
    z-index: 2;
}
.hello_block p{
    font-size: 1.2rem;
    max-width: 31em;
    text-align: center;
    margin: 3rem 0;
}
.hello_block__btns{
    min-width: 40rem;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    margin-top: 0.75rem;
    gap: 2rem;
}
.hello_block__btns .btn{
    width: 30%;
}

/*
* Our community
*/

.our_community{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    min-height: 90vh;
    padding-bottom: 12rem;
}
.our_community .our_community__app{
    position: relative;
    opacity: 0;
    transition: opacity 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: -10vw;
}
.our_community .our_community__app.app--active{
    opacity: 1;
}
.our_community .our_community__app img {
    width: 1080px;
}
.our_community .our_community__app .btn{
    padding: 10px 50px;
    background: #3ED09B;
    color: #FFFFFF;
}
.our_community h3{
    margin-bottom: 2rem;
}
.our_community__tabs {
    width: 75%;
    border-radius: 13px;
    background: #FCFCFC;
  }

  .tabs__nav {
    position: relative;
    z-index: 1;
    top: 1rem;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    background: #FCFCFC;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    margin: 0;
  }

  .tabs__btn {
    padding: 1.5rem 1.75rem;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    color: #000000;
    text-align: center;
    flex-shrink: 0;
    flex-grow: 1;
    border: 1px solid transparent;
    background: #FCFCFC;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tabs__btn:first-child{
    border-radius: 13px 0 0 13px;
  }
  .tabs__btn:last-child{
    border-radius: 0 13px 13px 0;
  }

  .tabs__btn img {
    width: 40px;
    margin-right: 10px;
  }

  .tabs__btn_active {
    background: rgba(236, 236, 236, 0.9);
    cursor: default;
  }

  .tabs__btn:not(.tabs__btn_active):hover,
  .tabs__btn:not(.tabs__btn_active):focus {
    background-color: #eee;
  }

  .tabs__content {
    position: relative;
    z-index: 0;
    background: #F2F2F2;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 13px 13px;
  }

  .tabs__pane {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    opacity: 0;
    
  }

  .tabs__pane p{
    margin-top: 1rem;
  }

  .tabs__pane_show {
    position: relative;
    opacity: 1;
    transition: opacity 1s;
  }

.our_community__important{
    width: 80%;
    margin-top: 10rem;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}
  .important__container {
    display: flex;
    flex-direction: column;
  }
  .important__container *{
    width: 30rem;
  }
  .image-block{
    display: flex;
    padding: 3rem 0 0 3rem;
    border-radius: 13px;
    background-color: #B6EBF3;
  }
  .image-block img{
    margin-left: auto;
    border-bottom-right-radius: 13px;
  }
  .text-block{
    margin-top: 3rem;
  }

/*
* Promotion
*/

.promotion{
    background: #17181A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.promotion__top-block{
    position: relative;
    top: -8rem;
    margin: 0 19rem;
    padding: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
}
.top-block__logo{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #B6EBF3;
    border-radius: 50%;
    padding: 0.5rem;
}
.top-block__logo::before{
    content: '';
    display: block;
    background-image: url(../img/Rocket.svg);
    background-size: 4rem;
    background-repeat: no-repeat;
    background-position: center;
    border: 7px solid #B6EBF3;
    border-radius: 50%;
    padding: 4rem;
}
.top-block__text{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.top-block__text p{
    margin-top: 1rem;
}
.promotion__map{

}
.promotion__map img{
    width: 60vw;
}